@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
       font-family: 'Work Sans', sans-serif;
}

.container {
       width: 1300px;
       height: auto;
}

nav {
       display: flex;
       justify-content: space-between;
}

.logo-container {
       display: flex;


       justify-content: space-between;
       text-align: center;
}

.logo {}

.title {
       text-align: center;
}

nav>ul {
       display: flex;
}


nav li {
       list-style: none;
       margin-right: 30px;
       font-weight: 500;
       font-size: 1rem;
}

.box {
       width: 1170px;
       height: 500px;
       text-align: center;
       margin: auto;
       border: 2px solid blue;
       background-image: url(../Assignment-modul-11/Travel-main/Images/background.png);


}

.popularbox {
       width: 1170px;
       height: 500px;
       margin: auto;
       display: flex;
       padding-top: 20px;
       padding-bottom: 40px;

}

button {
       width: 174px;
       height: 52px;
       flex-shrink: 0;
       border-radius: 8px;
       background: #FF5400;
}

.box-details {
       text-align: center;
}

.form {
       display: inline-flex;
       padding: 16px;
       align-items: flex-start;
       gap: 24px;
}

.box-container {

       display: grid;
       grid-template-columns: auto auto auto;
       grid-gap: 10px;
       background-color: #2196F3;
       padding: 10px;

}

.box-container>div {
       background-color: rgba(255, 255, 255, 0.8);
       text-align: center;
       padding: 20px;
       font-size: 30px;
}

.item1 {
       grid-area: 10px;
       width: 573px;
       height: 300px;
       flex-shrink: 0;
}

.item2 {
       width: 573px;
       height: 300px;
       flex-shrink: 0;
}